.home-container {
  padding: 2rem;
  text-align: center;
  color: white;
}


.email{
  width: 450px;
  height: 40px;
  border-radius: 14px;
  padding-left: 12px;
}

.phone{
  width: 450px;
  height: 40px;
  border-radius: 14px;
    padding-left: 12px;

}